.scorepanel {
    padding: 1em;
    font-size: 2rem;
    font-family: "Play", sans-serif;
    padding: 0.5em 1em;
    border: 2px solid lightgreen;
    border-radius: 0.6em;
}

@media (max-width:500px) {
    .scorepanel {
        font-size: 1.5rem;
        padding: 0.5em 1em;
    }
}