.box {
    width: 1.5em;
    height: 2em;
    display: flex;
    font-size: 1.5rem;
    justify-content: center;
    align-items: center;
    border-radius: 0.5em;
    padding: 2px;
    font-family: "Play", sans-serif;
    -webkit-tap-highlight-color: transparent;
    user-select: none;
}

.playingBox {
    width: 2em;
    height: 2em;
    border: 2px solid gray;
    cursor: pointer;
}

.rightBox {
    width: 2em;
    height: 2em;
    border: 2px solid lightgreen;
}

.notRightBox {
    width: 2em;
    height: 2em;
    border: 2px solid lightcoral;
}

@media (max-width:500px) {
    .box {
        width: 1em;
        height: 1.5em;
    }

    .playingBox {
        width: 1.5em;
        height: 1.5em;
        border: 2px solid gray;
        cursor: pointer;
    }

    .rightBox {
        width: 1.5em;
        height: 1.5em;
        border: 2px solid lightgreen;
    }

    .notRightBox {
        width: 1.5em;
        height: 1.5em;
        border: 2px solid lightcoral;
    }
}

.vowelBox:hover {
    border-color: #7C4DFF;
    opacity: 0.9;
}

.vowelBox:active {
    background-color: #7C4DFF;
    color: #fff;
    opacity: 0.75;
}